*{
	font-family: cursive;	
}

.navigation{
	height: 120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo{
	margin-left: 100px;
	font-size: 30px;
	font-weight: bold;
}
.nav-links{
	margin-right: 100px;
	font-size: 21px;	
}
.nav-links > a{
	text-decoration: none;
	color: black;
	margin: 10px;
	padding: 5px;
	transition: 0.6s;
}
.nav-links > a:hover{
	background-color: black;
	color: white;
	border-radius: 10px;
}
